{% extends "base.html"%}
{% block content %}

<!doctype html5>
<html>
  <head>
    <title>Sign Up</title>
  </head>

  <body>
    <center>
      <div class="jumbotron">
        <div class="container">
          <div class="alert alert-light" role="alert">

            <div class="alert alert-primary" role="alert">
              <h2>SignUp 
                <span style="color: red;">
                  Here
                </span>
              </h2>
            </div>

            <div class="alert alert-success" role="alert">
              <form id="signup" action="{{ url_for('signup')}}" method="post">

                Username :  <input type="text" id="username" name="username" />
                <br><br>
                
                Password : <input type="password" id="password" name="password" />
                <br><br>

                Bio :
                <textarea id="bio" name="bio" rows="4" cols="50" maxlength="200"></textarea>
                <br><br>

                DP URL :  <input type="text" name="dp_url" />
                <br><br>

                <!-- <input type="submit" id="submit" text="Signup" /> -->
              
                <input type="image"
                  src="../static/submit.png"
                  width="200"
                  height="60"
                  alt="submit"/>
              </form>
            </div>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <div class="alert alert-danger" role="alert">
              Already have account ?
              <br>
              <a href="{{ url_for('login') }}">
                Login <span style="color: red;">here</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </center>
  </body>
</html>

{% endblock %}
